body{
	font-family: Noto Sans;
	
}

.navbar{
	padding:0px;
}

.navbar-brand{
	margin-left:2rem;
	margin-right: 2rem;
	font-weight: 700;
	font-size: 25px;
	letter-spacing: 3px;
	/*color:black;*/

}

.navbar-dark .navbar-nav .nav-link{
	margin-left: 1rem;
	margin-right: 1rem;
	width:120px;
	text-align: center;
	font-size: 15px;
	color:white;
}

.navbar-dark .navbar-nav .nav-link:hover{
	/*background-color: lightgrey;*/
	/*opacity: 0.2;*/
	font-size: 26px;
	color: white;
	/*box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);*/
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.home{
	background-color: white;
	margin-bottom: 16.1rem;
}

#headingGroup{
	margin-top:5rem;

	
}

#hgh1{
	font-weight:700;
	font-size: 45px;
	letter-spacing: 1px;	

}

.subtitle{
	font-size: 1.2rem;
}

.btxt{
	margin-top:3rem;
	font-size: 1.2rem;

}

.btn{
	border:1px solid black;
	background-color:  #003366;
	color:white;
	letter-spacing: 0.2rem;
	text-align: center;
	border-radius: 0px;
	margin-top: 0.8rem;
}

.btn:hover{
	color:#003366;
	background-color: white;
}

#eventspage{
	/*border-top: 1px solid black;*/
	background-color:#f2f2f2 ;
}


#event-heading{
 padding-top: 2rem;
}

#ehh1{
	font-weight:700;
	font-size: 45px;
	letter-spacing: 1px;	

}


.row{
	margin:8rem 10rem;
}

.column{
	width:15rem;
	padding: 5px 10px;

}

/*.column .card1{
	left:10px;
}

.column .card2{
	left:280px;
}

.column .card3{
	right:10px;
}

.column .card4{
	right:280px;
}
*/


.column .flip-card{
	/*position: absolute;*/
	position: relative;
	border:none;
	height:280px;
	width: 300px;
	background-color: transparent;
	color: black;
	text-align: center;
	perspective: 1000px;
}


.column .flip-card-inner{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

.column .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.column .flip-card-front, .column .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

.column .flip-card-front {
	background-color: #bbb;
	color: black;
}

.column .flip-card-back {
	background-color: black;
	color: white;
	transform: rotateY(180deg);
}

.c-faderight, .c-fadeleft{
	opacity: 0;

}

.animatedRight {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeRight {
    from {
        transform: translateX(-150px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeRight {
    from {
        transform: translateX(-150px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.fadeRight {
    -webkit-animation-name: fadeRight;
    animation-name: fadeRight;
}

.animatedLeft {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeLeft {
    from {
        transform: (150px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeLeft {
    from {
        transform: translateX(150px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.fadeLeft {
    -webkit-animation-name: fadeLeft;
    animation-name: fadeLeft;
}


